In [1]:
import numpy as np
import pandas as pd
import csv

# Loading data

In [2]:
data = pd.read_csv('full_data.csv');
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [3]:
data.head(10)

,Unnamed: 0,year,month,intent,police,sex,age,race,hispanic,place,education
0,1,2012,1,Suicide,0,M,34.0,Asian/Pacific Islander,100,Home,BA+
1,2,2012,1,Suicide,0,F,21.0,White,100,Street,Some college
2,3,2012,1,Suicide,0,M,60.0,White,100,Other specified,BA+
3,4,2012,2,Suicide,0,M,64.0,White,100,Home,BA+
4,5,2012,2,Suicide,0,M,31.0,White,100,Other specified,HS/GED
5,6,2012,2,Suicide,0,M,17.0,Native American/Native Alaskan,100,Home,Less than HS
6,7,2012,2,Undetermined,0,M,48.0,White,100,Home,HS/GED
7,8,2012,3,Suicide,0,M,41.0,Native American/Native Alaskan,100,Home,HS/GED
8,9,2012,2,Accidental,0,M,50.0,White,100,Other specified,Some college
9,10,2012,2,Suicide,0,M,NaN,Black,998,Home,NaN

In [4]:
del data['Unnamed: 0']

In [5]:
data.tail(10)

,year,month,intent,police,sex,age,race,hispanic,place,education
100788,2014,12,Homicide,0,M,32.0,Asian/Pacific Islander,100,Other unspecified,Some college
100789,2014,12,Homicide,0,M,21.0,Hispanic,260,Street,HS/GED
100790,2014,12,Suicide,0,M,28.0,Hispanic,260,Home,HS/GED
100791,2014,12,Homicide,0,M,43.0,Black,100,Street,HS/GED
100792,2014,12,Homicide,0,M,31.0,Black,100,Other specified,HS/GED
100793,2014,12,Homicide,0,M,36.0,Black,100,Home,HS/GED
100794,2014,12,Homicide,0,M,19.0,Black,100,Street,HS/GED
100795,2014,12,Homicide,0,M,20.0,Black,100,Street,HS/GED
100796,2014,12,Homicide,0,M,22.0,Hispanic,260,Street,Less than HS
100797,2014,10,Homicide,0,M,43.0,Black,100,Other unspecified,HS/GED

In [6]:
len(data)

100798

# Computing the ration of suicides over the number of gun deaths

In [7]:
data['intent'][3]

'Suicide'

In [8]:
count_suicide = 0

for idx in range(len(data)):
    if data['intent'][idx] == 'Suicide':
        count_suicide += 1
        
print(count_suicide)

63175

In [10]:
ratio = count_suicide/len(data)
print(ratio)

0.6267485465981468